{% load static %}

<footer class="footer pt-6 pb-5 bg-primary text-white">
  <div class="container">
     
      
      <div class="row">
          <div class="col mb-md-0">
              <a href= "{% url 'home' %}" target="_blank" class="d-flex justify-content-center mb-3">
                  <img src="{% static 'images/newlogo.png' %}" height="30" class="me-2" alt=" Logo">
                  
              </a>  
              <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                  <p class="fw-normal font-small mb-0">
                    By Arun Hussain, Hari Krishna Balaji, Aarit Bhattacharya</p>
              </div>
          </div>
      </div>
  </div>
</footer>

